<?xml version="1.0" encoding="utf-8"?>
<!-- Filled in by build_apk.py: {{PACKAGE}} -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{PACKAGE}}">

    <application
        android:label="{{LABEL}}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/CourseTheme"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="net.booktocourse.app.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|density"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
